/*=================================
  footer styling starts here
=================================*/ 

.footer {

  .wrapper {
    display: flex;
   }




   &__left-div { flex-basis: 21.57%; }

   &__archieves-list { flex-basis: 20.66%; }

   &__contactus-list { flex-basis: 20.66%; }
  
   &__right-div { flex-basis: 22.4%; } 

   .span-error { display: none; }

   h4 { 
     font-size: 21px;
     text-transform: uppercase;
  }
}





 /*=================================
  footer styling ends here
=================================*/ 