/* form validation starts here */
.hide-img { display: none; }
  
.show-img { display: block; }

.hide-element { display: none; }

.show-element { display: block; }

.span-error.show-element { display: block; }

.outline-red { outline: 2px solid #f00; }

.span-error { color:#c33333; }
/* form validation ends here */